@using BCH.Comex.Core.Entities.Portal;
@model BCH.Comex.UI.Web.Models.ConsultaSwift.DetalleSwiftEnviadoViewModel
@using BCH.Comex.UI.Web.Helpers
@{
    var style = (ViewBag.PrintFormat != null && (PrintFormat)ViewBag.PrintFormat == PrintFormat.PDF) ? "margin-top: 10px;" : "margin: 40px;";
    var esHTML = (ViewBag.PrintFormat != null && (PrintFormat)ViewBag.PrintFormat == PrintFormat.PDF) ? true : false;
    ViewBag.Title = "Detalle Swift Enviado";
    Layout = null; //esto no hereda encabezado ni otros estilos
}
@if (Model.GenerarHtmlCompleto)
{
    @Html.Raw(@"<!DOCTYPE html>
<html>
<head>
<title>Detalle Swift Enviado</title>
<meta http-equiv=""Content-Type"" content=""text/html;charset=utf-8"" />
<link rel=""icon"" type=""image/png"" href=""@Url.Content(""~/Content/img/apps/consulta-msj-swift-inv.png"")"" />
</head>
<body>");
}
<style type="text/css">
    .encabezadotop1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12.5px;
        font-weight: bold;
        color: #2278CE;
        padding-top: 10px;
    }

    .encabezadotop2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10.5px;
        font-weight: bold;
        color: #000066;
        padding-top: 10px;
    }

    .encabezadotop3 {
        font-size: 12.5px;
        font-weight: 700;
        color: navy;
        font-style: italic;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        padding-top: 3px;
    }

    .texto {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
    }

    .textoTitulo {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
    }

    .txtchico {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #000000;
    }

    .textochico {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: #003366;
    }

    .limpiar{
        clear: both;
    }

    .textoInfo {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 8.0pt;
        color: #000066;
        font-weight: 700;
        padding-top: 5px;
    }

    .separador {
        border: 0.5px solid #E4E4E4;
        margin: 6px 0;
    }

</style>

<div style="text-align: left; @style">
    @* Titulo Banco *@
    <div style="text-align: left; border: 0px blue solid; width: 100%; background-color: #333399; height: 20px;">
        <span style="-webkit-print-color-adjust: exact; background: #333399;">
            <big>
                <strong>
                    <font color="#ffffff" style="">BANCO DE CHILE</font>
                </strong>
            </big>
        </span>
    </div>

    @* Titulo comercio exterior *@

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="encabezadotop1" align="left">COMERCIO EXTERIOR</td>
            <td class="encabezadotop2" align="right">EMISIÓN DOCUMENTO SWIFT</td>
        </tr>
        <tr>
            <td class="encabezadotop3" colspan="1" align="left">Mensajer&iacute;a Swift</td>
        </tr>
    </table>

    <div class="separador"></div>
    @* Tabla de detalle de swift *@
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="textoTitulo" align="left">Fecha</td>
            <td class="textoTitulo" align="left">:</td>
            <td class="texto" align="left">@DateTime.Now.ToShortDateString() &nbsp;</td>
            <td class="textoTitulo" align="left">Hora</td>
            <td class="textoTitulo" align="left">:</td>
            <td class="texto" align="left">@DateTime.Now.ToString("HH:mm:ss")</td>
            <td width="70%"></td>
        </tr>
    </table>

    <div class="separador"></div>
    @* Tipo Detalle *@

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="textoTitulo" align="left">Tipo Mensaje</td>
            <td class="textoTitulo" align="left">:</td>
            <td class="texto" width="60%" align="left">@Html.DisplayFor(m => m.Swift.tipo_msg)&nbsp;-&nbsp;@Html.DisplayFor(m => m.Swift.nombre_tipo)&nbsp;</td>

            <td class="textoTitulo" align="right">Prioridad</td>
            <td class="textoTitulo" align="right">:</td>
            <td class="texto" align="left">@BCH.Comex.UI.Web.Common.FormatUtils.PrioridadDesc(Model.Swift.prioridad, Model.Swift.tipo_msg)&nbsp;</td>
        </tr>
        <tr>
            <td class="textoTitulo" align="left">Monto Asociado</td>
            <td class="textoTitulo" align="left">:</td>
            <td class="texto" align="left" colspan="4">
                @{
                    double monto = (Model.Swift.monto.HasValue) ? Model.Swift.monto.Value : 0;
                }
                @Html.DisplayFor(m => m.Swift.cod_moneda) @monto.ToString("#,0.00")
                (** Verifique monto en texto del mensaje)
            </td>
        </tr>
    </table>

    <div class="separador"></div>
    @* Origen / Destino *@

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="textoTitulo" colspan="3">Origen</td>
            <td class="textoTitulo" colspan="3">Destino</td>
        </tr>
        <tr>
            <td class="textoTitulo">N&uacute;mero Mensaje</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@Model.Swift.id_mensaje &nbsp;</td>

            <td class="textoTitulo">Banco Receptor</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@(Model.Swift.CodigoYBranchReceptor)&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td class="texto">@Html.DisplayFor(m => m.Swift.nombre_banco)-@Html.DisplayFor(m => m.Swift.ciudad_banco), @Html.DisplayFor(m => m.Swift.pais_banco) &nbsp;</td>
        </tr>
        <tr>
            <td class="textoTitulo">Unidad</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@Html.DisplayFor(m => m.Swift.nombre_casilla) &nbsp;</td>

            <td class="textoTitulo">Fecha Env&iacute;o</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@Html.DisplayFor(m => m.Swift.fecha_ingr)   @Html.DisplayFor(m => m.Swift.hora_ingr) &nbsp;</td>
        </tr>
        <tr>
            <td class="textoTitulo">Banco Emisor</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@(Model.Swift.CodigoYBranchEmisor) &nbsp;</td>

            <td class="textoTitulo">Sesión</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@Html.DisplayFor(m => m.Swift.sesion) &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td class="textoTitulo">Secuencia</td>
            <td class="textoTitulo">:</td>
            <td class="texto">@Html.DisplayFor(m => m.Swift.secuencia) &nbsp;</td>
        </tr>
    </table>

    <div style='white-space: pre; font-family: Consolas; font-weight: bold; line-height: 1; align-content: center; margin: 10px;'>
        @if (Model.Swift.estado_msg.Equals("NUL"))
        {
            <div class="alert alert-danger text-center" style="font-size:1.2em;" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;&nbsp;ANULADO</div>
        }
    </div>

    <div class="separador"></div>
    @* Lineas Mensaje SWIFT *@

    <div style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;"><strong><i>Texto Mensaje</i></strong></div>

    @if (Model.Swift.LineasDetalle != null)
    {
        <table class="textochico" width="100%" cellpadding="0" cellspacing="0" style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;text-align:left;">
            @foreach (BCH.Comex.Core.Entities.Swift.LineaDetalleMensajeSwift linea in Model.Swift.LineasDetalle)
            {
                <tr>
                    <td>@(linea.EsNuevaLineaDeCampo ? ":" : "-" )</td>
                    <td>@linea.Codigo</td>
                    <td>@(linea.EsNuevaLineaDeCampo ? "/" : " ")</td>
                    <td>@linea.Descripcion</td>
                    <td>@(linea.EsNuevaLineaDeCampo ? ":" : " ")</td>
                    <td>@linea.Detalle</td>
                </tr>
            }
        </table>
    }

    <div class="separador"></div>

    @if (Model.Firmas != null && Model.Firmas.Count > 0)
    {
        <table style="font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 11px;" cellspacing="0" cellpadding="0">
            <tr>
                <td class="texto" style="font-weight: bold; font-style: italic;">
                    Firmas autorizadas para el mensaje
                </td>
            </tr>
            @foreach (BCH.Comex.Core.Entities.Swift.sw_msgsend_firma firma in Model.Firmas)
            {
                <tr>
                    <td>
                        &#9679; @(firma.DescPersonaFirma + " (" + firma.tipo_firma + ")")
                    </td>
                </tr>
            }
        </table>
    }

    <div class="separador"></div>
    <div class="textoInfo">
        <b>
            La información contenida en este correo electrónico se encuentra respaldada con aquella existente en los registros del Banco. <br>Infórmese sobre el límite de garantía estatal a los depósitos.
        </b>
    </div>
</div>

@if (Model.GenerarHtmlCompleto)
{
    @Html.Raw("</body></html>");
}
