@model BCH.Comex.Core.Entities.Cext01.DocumentoReporteModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>Cancelación retorno de exportación</title>
    <style type="text/css">
        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 60px 0px 179px 76px;
            padding: 0px;
            border: none;
            width: 740px;
        }

            #page_1 #id_1 {
                border: none;
                margin: 0px 0px 0px 0px;
                padding: 0px;
                border: none;
                width: 740px;
                overflow: hidden;
            }

                #page_1 #id_1 #id_1_1 {
                    float: left;
                    border: none;
                    margin: 4px 0px 0px 0px;
                    padding: 0px;
                    border: none;
                    width: 390px;
                    overflow: hidden;
                }

                #page_1 #id_1 #id_1_2 {
                    float: left;
                    border: none;
                    margin: 0px 0px 0px 0px;
                    padding: 0px;
                    border: none;
                    width: 350px;
                    overflow: hidden;
                }

            #page_1 #id_2 {
                border: none;
                margin: 28px 0px 0px 0px;
                padding: 0px;
                border: none;
                width: 614px;
                overflow: hidden;
            }

            #page_1 #id_3 {
                border: none;
                margin: 410px 0px 0px 429px;
                padding: 0px;
                border: none;
                width: 311px;
                overflow: hidden;
            }

        .ft0 {
            font: bold 16px 'Times New Roman';
            line-height: 19px;
        }

        .ft1 {
            font: italic bold 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft2 {
            font: 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft3 {
            font: bold 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft4 {
            font: bold 13px 'Times New Roman';
            text-decoration: underline;
            line-height: 15px;
        }

        .ft5 {
            font: italic bold 13px 'Times New Roman';
            line-height: 16px;
        }

        .p0 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p1 {
            text-align: left;
            margin-top: 54px;
            margin-bottom: 0px;
        }

        .p2 {
            text-align: left;
            padding-right: 108px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p3 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p4 {
            text-align: right;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p5 {
            text-align: right;
            padding-right: 17px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p6 {
            text-align: left;
            padding-right: 98px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p7 {
            text-align: left;
            padding-left: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: left;
            padding-left: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: right;
            padding-right: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p10 {
            text-align: left;
            padding-right: 65px;
            margin-top: 46px;
            margin-bottom: 0px;
        }

        .p11 {
            text-align: left;
            padding-right: 98px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p12 {
            text-align: left;
            padding-left: 17px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 119px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 127px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 158px;
            vertical-align: bottom;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 172px;
            vertical-align: bottom;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 190px;
            vertical-align: bottom;
        }

        .td5 {
            padding: 0px;
            margin: 0px;
            width: 94px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 15px;
        }

        .tr1 {
            height: 18px;
        }

        .tr2 {
            height: 29px;
        }

        .t0 {
            width: 246px;
            margin-left: 2px;
            font: bold 13px 'Times New Roman';
        }

        .t1 {
            width: 614px;
            margin-top: 15px;
            font: bold 13px 'Times New Roman';
        }
    </style>
</head>

<body>
    <div id="page_1">


        <div id="id_1">
            <div id="id_1_1">
                <p class="p0 ft0">@Model.TituloCabezal</p>
                <p class="p1 ft1">Señor(es)</p>
                <p class="p0 ft1">@Model.NombreCliente</p>
                <p class="p2 ft2">@Model.SubDireccion1</p>
                <p class="p2 ft2">@Model.CiudadCliente</p>
            </div>
            <div id="id_1_2">
                <p class="p0 ft2">@Model.Ciudad</p>
                <table cellpadding=0 cellspacing=0 class="t0">
                    <tr>
                        <td class="tr0 td0"><p class="p3 ft3">@Model.NuestraReferencia</p></td>
                        <td class="tr0 td1"><p class="p4 ft3"><nobr>@Model.NuestraReferenciaValue</nobr></p></td>
                    </tr>
                    <tr>
                        <td class="tr1 td0"><p class="p3 ft3">Monto @Model.MonedaCapital</p></td>
                        <td class="tr1 td1"><p class="p5 ft3">@Model.MontoCapital</p></td>
                    </tr>
                </table>
            </div>
        </div>
        <br/>
        <div id="id_2">
            <p class="p0 ft3">@Model.Parrafo1</p>
            <table cellpadding=0 cellspacing=0 class="t1">
                <tr>
                    <td class="tr0 td2"><p class="p3 ft4">Beneficiario</p></td>
                    <td class="tr0 td3"><p class="p7 ft4">Vía de la Distribución</p></td>
                    <td class="tr0 td4"><p class="p3 ft4">Concepto</p></td>
                    <td class="tr0 td5"><p class="p4 ft4">Monto</p></td>
                </tr>
                @foreach (var item in Model.LineasRemesa)
                {
                    <tr>
                        <td class="tr2 td2"><p class="p3 ft2">@item.Beneficiario</p></td>
                        <td class="tr2 td3"><p class="p3 ft2">@item.ViaRemesa</p></td>
                        <td class="tr2 td4"><p class="p8 ft2">@item.Concepto</p></td>
                        <td class="tr2 td5"><p class="p9 ft2">@item.Monto</p></td>
                    </tr>
                }
                @*<tr>
                    <td class="tr2 td2"><p class="p3 ft2">Pesquera y Conservera</p></td>
                    <td class="tr2 td3"><p class="p3 ft2">Cuenta Corriente M/E</p></td>
                    <td class="tr2 td4"><p class="p8 ft2">Liquidacion de Retorno US$</p></td>
                    <td class="tr2 td5"><p class="p9 ft2">168.918,20</p></td>
                </tr>*@
            </table>


            <br/>
            <p class="p16 ft1" style="white-space: pre-wrap;word-wrap: break-word;">@Model.PiePagina</p>

            @*<p class="p10 ft2">En toda correspondencia sírvase citar nuestro número <nobr>729-09-71-290-08024</nobr> y remitirla a la atención de Ximena Alvarado S., Huerfanos 930 Piso 2, fono 6,163547, fax 61635467.</p>
            <p class="p11 ft2">¡¡CONSULTE SUS OPERACIONES DE NEGOCIOS INTERNACIONALES EN INTERNET!! CONTÁCTENOS EN www.internacional.bancochile.cl</p>*@
        </div>
        <div id="id_3">
            <p class="p0 ft1">_______________________</p>
            <p class="p12 ft5">Banco de Chile</p>
        </div>
    </div>
</body>
</html>
