@model BCH.Comex.Core.Entities.Cext01.DocumentoReporteModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>Registro cobranza 601</title>
    <style type="text/css">
        body {
            margin-top: 0px;
            margin-left: 0px;
        }

        #page_1 {
            position: relative;
            overflow: hidden;
            margin: 58px 0px 180px 76px;
            padding: 0px;
            border: none;
            width: 740px;
        }

            #page_1 #id_1 {
                border: none;
                margin: 0px 0px 0px 0px;
                padding: 0px;
                border: none;
                width: 740px;
                overflow: hidden;
            }

            #page_1 #id_2 {
                border: none;
                margin: 108px 0px 0px 429px;
                padding: 0px;
                border: none;
                width: 311px;
                overflow: hidden;
            }

        .ft0 {
            font: bold 16px 'Times New Roman';
            line-height: 17px;
        }

        .ft1 {
            font: 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft2 {
            font: 1px 'Times New Roman';
            line-height: 12px;
        }

        .ft3 {
            font: bold 13px 'Times New Roman';
            line-height: 12px;
        }

        .ft4 {
            font: 1px 'Times New Roman';
            line-height: 1px;
        }

        .ft5 {
            font: italic bold 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft6 {
            font: bold 13px 'Times New Roman';
            text-decoration: underline;
            line-height: 15px;
        }

        .ft7 {
            font: bold 13px 'Times New Roman';
            line-height: 15px;
        }

        .ft8 {
            font: bold 13px 'Times New Roman';
            line-height: 14px;
        }

        .ft9 {
            font: italic bold 13px 'Times New Roman';
            line-height: 16px;
        }

        .p0 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p1 {
            text-align: left;
            padding-left: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p2 {
            text-align: left;
            padding-left: 12px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p3 {
            text-align: right;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p4 {
            text-align: right;
            padding-right: 23px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p5 {
            text-align: left;
            padding-right: 188px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p6 {
            text-align: left;
            padding-left: 28px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p7 {
            text-align: left;
            padding-left: 50px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p8 {
            text-align: right;
            padding-right: 158px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p9 {
            text-align: left;
            margin-top: 19px;
            margin-bottom: 0px;
        }

        .p10 {
            text-align: left;
            margin-top: 12px;
            margin-bottom: 0px;
        }

        .p11 {
            text-align: left;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .p12 {
            text-align: left;
            padding-left: 56px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p13 {
            text-align: left;
            padding-left: 1px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p14 {
            text-align: left;
            padding-left: 55px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p15 {
            text-align: left;
            padding-left: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .p16 {
            text-align: left;
            padding-right: 177px;
            margin-top: 16px;
            margin-bottom: 0px;
        }

        .p17 {
            text-align: left;
            padding-right: 191px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p18 {
            text-align: left;
            padding-right: 224px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .p19 {
            text-align: left;
            padding-left: 17px;
            margin-top: 1px;
            margin-bottom: 0px;
        }

        .td0 {
            padding: 0px;
            margin: 0px;
            width: 380px;
            vertical-align: bottom;
        }

        .td1 {
            padding: 0px;
            margin: 0px;
            width: 258px;
            vertical-align: bottom;
        }

        .td2 {
            padding: 0px;
            margin: 0px;
            width: 131px;
            vertical-align: bottom;
        }

        .td3 {
            padding: 0px;
            margin: 0px;
            width: 127px;
            vertical-align: bottom;
        }

        .td4 {
            padding: 0px;
            margin: 0px;
            width: 85px;
            vertical-align: bottom;
        }

        .td5 {
            padding: 0px;
            margin: 0px;
            width: 105px;
            vertical-align: bottom;
        }

        .td6 {
            padding: 0px;
            margin: 0px;
            width: 218px;
            vertical-align: bottom;
        }

        .td7 {
            padding: 0px;
            margin: 0px;
            width: 145px;
            vertical-align: bottom;
        }

        .td8 {
            padding: 0px;
            margin: 0px;
            width: 156px;
            vertical-align: bottom;
        }

        .td9 {
            padding: 0px;
            margin: 0px;
            width: 219px;
            vertical-align: bottom;
        }

        .td10 {
            padding: 0px;
            margin: 0px;
            width: 140px;
            vertical-align: bottom;
        }

        .tr0 {
            height: 20px;
        }

        .tr1 {
            height: 12px;
        }

        .tr2 {
            height: 15px;
        }

        .tr3 {
            height: 45px;
        }

        .tr4 {
            height: 30px;
        }

        .t0 {
            width: 638px;
            font: 13px 'Times New Roman';
        }

        .t1 {
            width: 408px;
            margin-left: 161px;
            margin-top: 14px;
            font: 13px 'Times New Roman';
        }

        .t2 {
            width: 660px;
            margin-top: 14px;
            font: bold 13px 'Times New Roman';
        }
    </style>
</head>

<body>
    <div id="page_1">


        <div id="id_1">
            <table cellpadding=0 cellspacing=0 class="t0">
                <tr>
                    <td class="tr0 td0"><p class="p0 ft0">@Model.TituloCabezal</p></td>
                    <td colspan=2 class="tr0 td1"><p class="p1 ft1">@Model.Ciudad</p></td>
                </tr>
                <tr>
                    <td class="tr1 td0"><p class="p0 ft2">&nbsp;</p></td>
                    <td class="tr1 td2"><p class="p2 ft3">@Model.NuestraReferencia</p></td>
                    <td class="tr1 td3"><p class="p3 ft3"><nobr>@Model.NuestraReferenciaValue</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td2"><p class="p1 ft1">@Model.SuReferencia</p></td>
                    <td class="tr2 td3"><p class="p4 ft1"><nobr>@Model.SuReferenciaValue</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr3 td0"><p class="p0 ft5">Señores</p></td>
                    <td class="tr3 td2"><p class="p0 ft5">Girado</p></td>
                    <td class="tr3 td3"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p0 ft5">@Model.Direccion1</p></td>
                    <td class="tr2 td2"><p class="p0 ft1">@Model.GiradoNombre</p></td>
                    <td class="tr2 td3"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p0 ft5">@Model.SubDireccion1</p></td>
                    <td colspan=2 class="tr2 td1"><p class="p0 ft1">@Model.SubDireccion2</p></td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p0 ft5">@Model.CiudadCliente</p></td>
                    <td colspan=2 class="tr2 td1"><p class="p0 ft1">@Model.GiradoDireccion1</td>
                </tr>
                <tr>
                    <td class="tr2 td0"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td2"><p class="p1 ft1">@Model.GiradoPais</p></td>
                    <td class="tr2 td3"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
            </table>
            <p class="p5 ft1" style="white-space: pre;word-wrap: break-word;">@Model.Parrafo1</p>
            <table cellpadding=0 cellspacing=0 class="t1">
                <tr>
                    <td class="tr2 td4"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td5"><p class="p0 ft6">Montos</p></td>
                    <td class="tr2 td6"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
                @foreach (var item in Model.LineasMontoRegistro)
                {
                    <tr>
                        <td class="tr4 td4"><p class="p0 ft1">@item.Glosa</p></td>
                        <td class="tr4 td5"><p class="p6 ft1">@item.Moneda</p></td>
                        <td class="tr4 td6"><p class="p7 ft1">@item.Monto</p></td>
                    </tr>
                }
                <tr>
                    <td class="tr4 td4"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr4 td5"><p class="p0 ft6">Documentos</p></td>
                    <td class="tr4 td6"><p class="p0 ft4">&nbsp;</p></td>
                </tr>
                @foreach (var item in Model.Letras)
                {
                    <tr>
                        <td class="tr4 td4"><p class="p0 ft1">@item.Glosa</p></td>
                        <td class="tr4 td5"><p class="p6 ft1">@item.CodigoMoneda @item.Moneda</p></td>
                        <td class="tr4 td6"><p class="p7 ft1">@item.Monto @item.Vence</p></td>
                    </tr>
                }
                @foreach (var item in Model.LineasDocumentosEmbarque)
                {
                    <tr>
                        <td class="tr2 td4"><p class="p0 ft1">@item.Nombre</p></td>
                        <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                        <td class="tr2 td6"><p class="p8 ft1"><nobr>@item.NumeroEmbarque</nobr></p></td>
                    </tr>
                }
                @*<tr>
                    <td class="tr2 td4"><p class="p0 ft1">Facturas</p></td>
                    <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p8 ft1"><nobr>02-02</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr2 td4"><p class="p0 ft1">B/L</p></td>
                    <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p8 ft1"><nobr>03-03</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr2 td4"><p class="p0 ft1">Lista Empaque</p></td>
                    <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p8 ft1"><nobr>01-01</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr2 td4"><p class="p0 ft1">Seguro</p></td>
                    <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p8 ft1"><nobr>01-01</nobr></p></td>
                </tr>
                <tr>
                    <td class="tr2 td4"><p class="p0 ft1">EUR.1</p></td>
                    <td class="tr2 td5"><p class="p0 ft4">&nbsp;</p></td>
                    <td class="tr2 td6"><p class="p8 ft1"><nobr>01-01</nobr></p></td>
                </tr>*@
            </table>
            <p class="p9 ft7">Condición de entrega de los documentos : Aceptación de Letras</p>
            <p class="p10 ft1">Sin Protesto.</p>
            <p class="p11 ft1">@Model.Paso2</p>
            <table cellpadding=0 cellspacing=0 class="t2">
                <tr>
                    <td class="tr2 td7"><p class="p0 ft8">C. Embarque</p></td>
                    <td class="tr2 td8"><p class="p12 ft8">F. Embarque</p></td>
                    <td class="tr2 td9"><p class="p13 ft8">P. Embarque</p></td>
                    <td class="tr2 td10"><p class="p0 ft8">P. Destino</p></td>
                </tr>
                @foreach (var item in Model.LineasEmbarque)
                {
                    <tr>
                        <td class="tr2 td7"><p class="p0 ft1">@item.Codigo</p></td>
                        <td class="tr2 td8"><p class="p14 ft1">@item.Fecha</p></td>
                        <td class="tr2 td9"><p class="p0 ft1">@item.Origen</p></td>
                        <td class="tr2 td10"><p class="p15 ft1">@item.Destino</p></td>
                    </tr>
                }
                
            </table>
            <p class="p16 ft1">@Model.Paso1</p>
            <p class="p17 ft1" style="white-space: pre-wrap;word-wrap: break-word;">@Model.PiePagina</p>
            @*<p class="p18 ft1">¡¡CONSULTE SUS OPERACIONES DE NEGOCIOS INTERNACIONALES EN INTERNET!! CONTÁCTENOS EN www.internacional.bancochile.cl</p>*@
        </div>
        <div id="id_2">
            <p class="p11 ft5">_______________________</p>
            <p class="p19 ft9">Banco de Chile</p>
        </div>
    </div>
</body>
</html>
