@model BCH.Comex.UI.Web.Areas.MT300Planilla.Models.DetallePlanillaViewModel

@{
    ViewBag.Title = "Planillas MT300";
    //ViewBag.Favicon = @Url.Content("~/Content/img/apps/ingreso-asientos-inv.png");
}



<div class="container">
    <div class="row">
        <div class="col-xs-12"><h2>Detalle Archivo</h2></div>
    </div>
    <div class="row">
        <label id="ResumenArchivo" class="control-label col-xs-6" />
    </div>

    <div class="row">
        <div class="panel panel-default" id="pnlResumen">
            <div class="panel-heading">
                <h2 class="panel-title">Resumen detalle </h2>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Fecha Carga :
                        </label>
                        <label id="ResumenFechaCarga" class="control-label col-xs-2" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Estado Archivo :
                        </label>
                        <label id="ResumenEstadoArchivo" class="control-label col-xs-2" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Reg. Errores
                        </label>
                        <label id="ResumenErrores" class="control-label col-xs-2" />
                    </div>
                </div>
                <div id="ResumenResultado2" class="col-xs-12">
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Reg. Totales
                        </label>
                        <label id="ResumenRegTotales" class="control-label col-xs-2" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Reg. MT Generados
                        </label>
                        <label id="ResumenMtGenerados" class="control-label col-xs-2" />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label col-xs-6">
                            Reg. MT Previos
                        </label>
                        <label id="ResumenMtPrevios" class="control-label col-xs-2" />
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-default" id="pnlRegistrosExistentes">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="tablaDetalleArchivos"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a type="button" id="btnVolver" class="btn btn-default" href="@Url.Action("Index", "Home")">Volver</a>
        </div>

            @section scripts{
                @Scripts.Render("~/bundles/MT300Planilla/Detalle")
                <script type="text/javascript">
        var urlBuscar = '@Url.Action("BuscarDetalleArchivos")';
        var urlResumen = '@Url.Action("TraeResumenDetalle")';
        var urlVerMensaje = '@Url.Action("Detalle","DetalleMensaje")';
        var pageSize = @Model.pageSize;

        var modelCompleto = @Html.Raw(Json.Encode(Model));

                </script>
            }

            @section css
{
                <style>
                    .panel-heading .accordion-toggle:after {
                        /* symbol for "opened" panels */
                        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                        content: "\e113";
                        float: right;
                        color: grey;
                    }

                    .panel-heading .accordion-toggle.collapsed:after {
                        /* symbol for "collapsed" panels */
                        font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
                        content: "\e114";
                        float: right;
                        color: grey;
                    }
                </style>
            }
