@model BCH.Comex.UI.Web.Models.GestionControlSwift.Index

@{
    ViewBag.Title = "Estadisticas Mensajes Recepcionados Swift";
    ViewBag.Favicon = @Url.Content("~/Content/img/apps/gestion-y-control-inv.png");
}

@section css{
    @Styles.Render("~/Content/css/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/css/bootstrap-table.min.css")
    @Styles.Render("~/Content/css/bootstrap-table-filter.css")

    <style>
        #alertPlaceholder {
            position: fixed;
            bottom: 15px;
            left: 5px;
            right: 5px;
            width: 100%;
            z-index: 10;
        }

        #alertdiv {
            margin: 0 auto;
        }

        #btnEncabezadoVerMultiples {
            margin-right: 10px;
        }

        #formGroupFiltroEstado {
            white-space: nowrap;
        }

        .carousel-indicators li {
            background-color: #002464;
        }

        .carousel-indicators .active {
            background-color: #d04b4b;
        }

        .carousel-indicators {
            bottom: -50px;
        }

        .carousel-control {
            width: 0%;
            color: #002464;
        }

        .accionRow {
            font-size: 1.2em;
        }

        .thLog {
            vertical-align: top;
            text-align: center;
        }

        .btn {
            margin-bottom: 0px !important; /* el diseño global esta agregando 10px de margen a los botones, yo creo que no deberia */
        }

        .resultRow {
            white-space: nowrap;
        }

        .infoFiltros, no-records-found {
            color: red;
        }

        .no-records-found {
            color: red;
            font-weight: bold;
        }

        .fixed-table-loading {
            padding: 20px 40px;
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
            animation: pulse 1s ease infinite;
            transition: transform 0.2s;
        }

        @@keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }
    </style>
}
@section scripts {

    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap-table-es-SP.js"></script>
    @Scripts.Render("~/bundles/JQueryfileDownload")
    @Scripts.Render("~/bundles/GestionControl")
    <script>


        var urlEstadisticasSwifts = '@Url.Action("EstadisticasSwifts02", "GestionControlSwift")';
        var urlReporteConsulta = '@Url.Action("ReporteEstadisticasMensajesRecepcionadosSwift", "GestionControlSwift")';
    </script>
}

<h1>Estadisticas Mensajes Recepcionados Swift</h1>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Filtros</h2>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("BuscarSwifts", "ConsultaSwift"))
            {
                <div class="container">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Casilla", "Casilla", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                <div class="input-group">
                                    @Html.DropDownList("idCasilla", Model.CasillasVisibles, "-- Seleccione --", new { @class = "selectpicker form-control", data_live_search = "true" })
                                    <span class="input-group-btn">
                                        <button id="btnConfigurarCasillas" class="btn btn-default" type="button" data-toggle="modal" data-backdrop="false" title="Configure las casillas que desea ver en esta lista" data-target="#modalAdminCasillas">
                                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label has-error" style="display:none" id="lblErrorCasilla">La casilla es requerida</label>
                        </div>
                        <div class="form-group">
                            @Html.Label("dtpFechaDesde", "Fecha", new { id = "lblFechaDesde", @class = "control-label  col-xs-2" })
                            <div class="col-xs-3">
                                <div class="input-group date" id="dtpFechaDesde">
                                    <input type="text" class="form-control" id="txtFechaDesde" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="chkPeriodoFechas"> Período
                                    </label>
                                </div>
                            </div>
                            <label class="control-label has-error" style="display:none" id="lblErrorFechaDesde">La fecha debe ser menor o igual a la fecha del día</label>
                        </div>
                        <div class="form-group" id="grpFechaHasta">
                            @Html.Label("Hasta", "Hasta", new { @class = "control-label col-xs-2" })
                            <div class="col-xs-3">
                                <div class="input-group date" id="dtpFechaHasta">
                                    <input type="text" class="form-control" id="txtFechaHasta" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <label class="control-label has-error" style="display:none" id="lblErrorFechaHasta">La fecha debe ser menor o igual a la fecha desde</label>
                        </div>
                        <!-- Split button -->
                        <div class="form-group">
                            <div class="col-md-offset-2 col-xs-10">
                                <div class="btn-group">
                                    <button type="button" id="btnEstadisticasSwifts" class="btn btn-primary" hidden><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;&nbsp;Estadísticas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @{ Html.RenderPartial("_AdminCasillas"); }
        </div>

    </div>

    <div id="alertPlaceholder"></div>

    <div class="panel panel-default" id="pnlResultados">
        <div class="panel-heading">
            <h2 class="panel-title">Resultados</h2>
        </div>
        <div class="panel-body">
            <div id="toolbar">
                <form class="form-inline">
                    <button type="button" class="btn btn-primary" id="btnReporteConsulta"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;Reporte&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;
                </form>
            </div>
            <table id="tablaSwifts"></table>
        </div>
    </div>
</div>

<div id="modalVisorIndividualSwift" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Visor individual de mensaje Swift">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center" id="divCuerpoMensajeSwift"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnEnviarMensajeIndividual"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Enviar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalVisorMultipleSwift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Visor de múltiples mensajes</h4>
            </div>
            <div class="modal-body">
                <div id="carrusel-mensajes" class="carousel slide">
                    <ol class="carousel-indicators" id="lstCarruselIndicators"></ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner text-center" id="wraperSlidesCarruselMensajes">Cargando mensajes, por favor espere...</div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carrusel-mensajes" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carrusel-mensajes" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <!-- Indicators -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnEnviarMultiplesMensajes"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Enviar</button>
            </div>
        </div>
    </div>
</div>

@*Modal utilizado para seguimiento del mensaje y datos del mensaje*@
<div id="modalVisorSwift" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Visor swift">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="divCuerpoSwift"></div>
        </div>
    </div>
</div>