@using BCH.Comex.Core.Entities.Cext01.FundTransfer.DataTypes
@model Planilla401

@{
    Layout = null;
}

<style type="text/css">
    body {
        margin-top: 0px;
        margin-left: 0px;
    }

    #page_1 {
        position: relative;
        overflow: hidden;
        margin: 51px 0px 0px 0px;
        padding: 0px;
        border: none;
        width: 816px;
    }

        #page_1 #id_1 {
            border: none;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            border: none;
            width: 816px;
            overflow: hidden;
        }

        #page_1 #id_2 {
            border: none;
            margin: 0px 0px 0px 0px;
            padding: 0px;
            border: none;
            width: 816px;
            overflow: hidden;
        }





    #page_2 {
        position: relative;
        overflow: hidden;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        border: none;
        width: 816px;
    }

        #page_2 #id_1 {
            border: none;
            margin: 0px 0px 0px 4px;
            padding: 0px;
            border: none;
            width: 812px;
            overflow: hidden;
        }

        #page_2 #id_2 {
            border: none;
            margin: 1023px 0px 0px 0px;
            padding: 0px;
            border: none;
            width: 816px;
            overflow: hidden;
        }





    #page_3 {
        position: relative;
        overflow: hidden;
        margin: 516px 0px 494px 82px;
        padding: 0px;
        border: none;
        width: 734px;
    }





    .ft0 {
        font: 12px 'Times';
        line-height: 15px;
    }

    .ft1 {
        font: 1px 'Times';
        line-height: 1px;
    }

    .ft2 {
        font: 11px 'Times';
        line-height: 14px;
    }

    .ft3 {
        font: 13px 'Times';
        line-height: 15px;
    }

    .ft4 {
        font: 16px 'Helvetica';
        line-height: 16px;
    }

    .ft5 {
        font: 16px 'Helvetica';
        line-height: 18px;
    }

    .ft6 {
        font: 9px 'Arial Unicode MS';
        color: #0000ff;
        line-height: 12px;
    }

    .ft7 {
        font: 9px 'Arial Unicode MS';
        line-height: 12px;
    }

    .ft8 {
        font: 13px 'Arial Unicode MS';
        line-height: 18px;
    }

    .p0 {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p1 {
        text-align: left;
        padding-left: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p2 {
        text-align: left;
        padding-left: 52px;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p3 {
        text-align: left;
        padding-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p4 {
        text-align: left;
        padding-left: 246px;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p5 {
        text-align: left;
        padding-left: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p6 {
        text-align: right;
        margin-top: 0px;
        margin-bottom: 0px;
        white-space: nowrap;
    }

    .p7 {
        text-align: left;
        padding-left: 590px;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .p8 {
        text-align: right;
        padding-right: 187px;
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .p9 {
        text-align: right;
        padding-right: 187px;
        margin-top: 22px;
        margin-bottom: 0px;
    }

    .p10 {
        text-align: left;
        padding-left: 576px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    .p11 {
        text-align: left;
        padding-left: 31px;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .p12 {
        text-align: left;
        padding-left: 4px;
        margin-top: 23px;
        margin-bottom: 0px;
    }

    .p13 {
        text-align: left;
        padding-left: 590px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .p14 {
        text-align: right;
        padding-right: 187px;
        margin-top: 9px;
        margin-bottom: 0px;
    }

    .p15 {
        text-align: right;
        padding-right: 187px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    .p16 {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .p17 {
        text-align: left;
        margin-top: 1px;
        margin-bottom: 0px;
    }

    .p18 {
        text-align: left;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    .td0 {
        padding: 0px;
        margin: 0px;
        width: 91px;
        vertical-align: bottom;
    }

    .td1 {
        padding: 0px;
        margin: 0px;
        width: 306px;
        vertical-align: bottom;
    }

    .td2 {
        padding: 0px;
        margin: 0px;
        width: 313px;
        vertical-align: bottom;
    }

    .td3 {
        padding: 0px;
        margin: 0px;
        width: 397px;
        vertical-align: bottom;
    }

    .td4 {
        padding: 0px;
        margin: 0px;
        width: 96px;
        vertical-align: bottom;
    }

    .td5 {
        padding: 0px;
        margin: 0px;
        width: 47px;
        vertical-align: bottom;
    }

    .tr0 {
        height: 18px;
    }

    .tr1 {
        height: 22px;
    }

    .tr2 {
        height: 34px;
    }

    .tr3 {
        height: 49px;
    }

    .tr4 {
        height: 15px;
    }

    .tr5 {
        height: 16px;
    }

    .tr6 {
        height: 33px;
    }

    .tr7 {
        height: 48px;
    }

    .t0 {
        width: 710px;
        margin-left: 51px;
        font: 12px 'Times';
    }

    .t1 {
        width: 143px;
        margin-left: 531px;
        margin-top: 49px;
        font: 12px 'Times';
    }

    .t2 {
        width: 710px;
        margin-left: 51px;
        margin-top: 131px;
        font: 12px 'Times';
    }

    .t3 {
        width: 143px;
        margin-left: 531px;
        margin-top: 51px;
        font: 12px 'Times';
    }
</style>

<div id="page_1">
    <div id="id_1">
        <table cellpadding=0 cellspacing=0 class="t0">
            <tr>
                <td class="tr0 td0"><p class="p0 ft0"><nobr>@Model.VxPlvs_NumPre</nobr></p></td>
                <td class="tr0 td1"><p class="p0 ft1">&nbsp;</p></td>
                <td class="tr0 td2"><p class="p0 ft1">&nbsp;</p></td>
            </tr>
            <tr>
                <td class="tr1 td0"><p class="p0 ft0">@Model.VxPlvs_fecpre</p></td>
                <td class="tr1 td1"><p class="p1 ft2">@Model.VPbc_Pbc_PbcDes</p></td>
                <td class="tr1 td2"><p class="p2 ft0">@Model.VxPlvs_PlzBcc</p></td>
            </tr>
            <tr>
                <td class="tr2 td0"><p class="p0 ft1">&nbsp;</p></td>
                <td class="tr2 td1"><p class="p1 ft2">@Model.NomPLn</p></td>
                <td class="tr2 td2"><p class="p2 ft0">@Model.VxPlvs_TipPln</p></td>
            </tr>
            <tr>
                <td colspan=2 class="tr2 td3"><p class="p3 ft3">@Model.DatPrt</p></td>
                <td rowspan=2 class="tr3 td2"><p class="p4 ft0"><nobr>@Model.VxPlvs_RutExp</nobr></p></td>
            </tr>
            <tr>
                <td colspan=2 class="tr4 td3"><p class="p5 ft3">@Model.DatPrtn</p></td>
            </tr>
        </table>
        <table cellpadding=0 cellspacing=0 class="t1">
            <tr>
                <td class="tr5 td4"><p class="p0 ft0">@Model.VMnd_Mnd_MndNom</p></td>
                <td class="tr5 td5"><p class="p6 ft0">@Model.VMnd_Mnd_MndCbc</p></td>
            </tr>
        </table>
        <p class="p7 ft0">@Model.VxPlvs_AfiPar</p>
        <p class="p8 ft0">@Model.VxPlvs_AfiMto</p>
        <p class="p9 ft0">@Model.VxPlvs_AfiMtoD</p>
        <p class="p10 ft0">@Model.VxPlvs_AfiVen</p>
        <p class="p11 ft0">@Model.VxPlvs_TipCam</p>
        <p class="p12 ft0">@String.Join("\r\n", Model.Palabras)</p>
    </div>
</div>