
@using BCH.Comex.Common.UI_Modulos;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="msg-zone" style="padding-top: 20px;">
    @{
        if (Model != null && Model.ListaErrores != null)
        {
            foreach (var item in Model.ListaErrores)
            {
                string tipo = String.Empty;
                if (item.Type != TipoMensaje.Nada)
                {
                    if (item.Type == TipoMensaje.Informacion)
                    {
                        tipo = "alert-info";
                    }
                    else if (item.Type == TipoMensaje.Correcto)
                    {
                        tipo = "alert-success";
                    }
                    else if (item.Type == TipoMensaje.Error)
                    {
                        tipo = "alert-danger";
                    }
                    <div class="alert @tipo">
                        <a class="close" data-dismiss="alert">×</a>
                        <span>
                            <strong>@item.Title </strong> @item.Text
                        </span>
                    </div>
                }
            }
        }
    }
</div>

@RenderBody()

@section scripts{
    @RenderSection("scripts", false)
}

@section css{
    @Styles.Render("~/Content/css/layout.css")
    @RenderSection("css", required: false)
}


